<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>LANDING PAGE</h1>
<li><a href="/login">LOGIN PAGE</a></li>
</body>
</html>